# Bryntum licensed packages are served from Bryntum's private registry.
# The auth token is a secret — it is NOT stored here. npm expands ${BRYNTUM_NPM_TOKEN}
# from the environment (set it locally in your shell and in Vercel project env vars).
@bryntum:registry=https://npm.bryntum.com
//npm.bryntum.com/:_authToken=${BRYNTUM_NPM_TOKEN}
